<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SrvRegester</servlet-name>
        <servlet-class>Servlet.SrvRegester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvLogin</servlet-name>
        <servlet-class>Servlet.SrvLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Srvlogout</servlet-name>
        <servlet-class>Servlet.Srvlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvOptions</servlet-name>
        <servlet-class>Servlet.SrvOptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvBtnVoted</servlet-name>
        <servlet-class>Servlet.SrvBtnVoted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvPanel</servlet-name>
        <servlet-class>Servlet.SrvPanel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SrvRegester</servlet-name>
        <url-pattern>/SrvRegester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvLogin</servlet-name>
        <url-pattern>/SrvLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Srvlogout</servlet-name>
        <url-pattern>/Srvlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvOptions</servlet-name>
        <url-pattern>/SrvOptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvBtnVoted</servlet-name>
        <url-pattern>/SrvBtnVoted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvPanel</servlet-name>
        <url-pattern>/SrvPanel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
